body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-gentium-basic: "Gentium Basic";

  /* font sizes */
  --font-size-6xl: 25px;

  /* Colors */
  --color-dimgray: #575757;
  --color-white: #fff;

  /* Paddings */
  --padding-31xl: 50px;
}